<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-payment-file-heading"
        data-cy="PaymentFileCreateUpdateHeading"
        jhiTranslate="jhipsterApp.paymentFile.home.createOrEditLabel"
      >
        Create or edit a Payment File
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.paymentFile.paymentFileId" for="field_paymentFileId">Payment File Id</label>
          <input
            type="number"
            class="form-control"
            name="paymentFileId"
            id="field_paymentFileId"
            data-cy="paymentFileId"
            formControlName="paymentFileId"
          />
          <div
            *ngIf="
              editForm.get('paymentFileId')!.invalid && (editForm.get('paymentFileId')!.dirty || editForm.get('paymentFileId')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('paymentFileId')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('paymentFileId')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.paymentFile.totalPaymentAmount" for="field_totalPaymentAmount"
            >Total Payment Amount</label
          >
          <input
            type="number"
            class="form-control"
            name="totalPaymentAmount"
            id="field_totalPaymentAmount"
            data-cy="totalPaymentAmount"
            formControlName="totalPaymentAmount"
          />
          <div
            *ngIf="
              editForm.get('totalPaymentAmount')!.invalid &&
              (editForm.get('totalPaymentAmount')!.dirty || editForm.get('totalPaymentAmount')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('totalPaymentAmount')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('totalPaymentAmount')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.paymentFile.paymentFileDate" for="field_paymentFileDate"
            >Payment File Date</label
          >
          <div class="input-group">
            <input
              id="field_paymentFileDate"
              data-cy="paymentFileDate"
              type="text"
              class="form-control"
              name="paymentFileDate"
              ngbDatepicker
              #paymentFileDateDp="ngbDatepicker"
              formControlName="paymentFileDate"
            />
            <button type="button" class="btn btn-secondary" (click)="paymentFileDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.paymentFile.paymentStatus" for="field_paymentStatus">Payment Status</label>
          <select
            class="form-control"
            name="paymentStatus"
            formControlName="paymentStatus"
            id="field_paymentStatus"
            data-cy="paymentStatus"
          >
            <option [ngValue]="null">{{ 'jhipsterApp.PaymentStatus.null' | translate }}</option>
            <option *ngFor="let paymentStatus of paymentStatusValues" [value]="paymentStatus">
              {{ 'jhipsterApp.PaymentStatus.' + paymentStatus | translate }}
            </option>
          </select>
          <div
            *ngIf="
              editForm.get('paymentStatus')!.invalid && (editForm.get('paymentStatus')!.dirty || editForm.get('paymentStatus')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('paymentStatus')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.paymentFile.bankName" for="field_bankName">Bank Name</label>
          <input type="text" class="form-control" name="bankName" id="field_bankName" data-cy="bankName" formControlName="bankName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.paymentFile.ifscCode" for="field_ifscCode">Ifsc Code</label>
          <input type="text" class="form-control" name="ifscCode" id="field_ifscCode" data-cy="ifscCode" formControlName="ifscCode" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
