<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-payment-file-heading"
        data-cy="PaymentFileCreateUpdateHeading"
        jhiTranslate="jhipsterApp.paymentFile.home.createOrEditLabel"
      >
        Create or edit a Payment File
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.paymentFile.paymentFileId" for="field_paymentFileId">Payment File Id</label>
          <input
            type="number"
            class="form-control"
            name="paymentFileId"
            id="field_paymentFileId"
            data-cy="paymentFileId"
            formControlName="paymentFileId"
          />
          <div
            *ngIf="
              editForm.get('paymentFileId')!.invalid && (editForm.get('paymentFileId')!.dirty || editForm.get('paymentFileId')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('paymentFileId')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('paymentFileId')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.paymentFile.totalPaymentAmount" for="field_totalPaymentAmount"
            >Total Payment Amount</label
          >
          <input
            type="number"
            class="form-control"
            name="totalPaymentAmount"
            id="field_totalPaymentAmount"
            data-cy="totalPaymentAmount"
            formControlName="totalPaymentAmount"
          />
          <div
            *ngIf="
              editForm.get('totalPaymentAmount')!.invalid &&
              (editForm.get('totalPaymentAmount')!.dirty || editForm.get('totalPaymentAmount')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('totalPaymentAmount')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('totalPaymentAmount')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.paymentFile.paymentFileDate" for="field_paymentFileDate"
            >Payment File Date</label
          >
          <div class="input-group">
            <input
              id="field_paymentFileDate"
              data-cy="paymentFileDate"
              type="text"
              class="form-control"
              name="paymentFileDate"
              ngbDatepicker
              #paymentFileDateDp="ngbDatepicker"
              formControlName="paymentFileDate"
            />
            <button type="button" class="btn btn-secondary" (click)="paymentFileDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.paymentFile.paymentStatus" for="field_paymentStatus">Payment Status</label>
          <select
            class="form-control"
            name="paymentStatus"
            formControlName="paymentStatus"
            id="field_paymentStatus"
            data-cy="paymentStatus"
          >
            <option [ngValue]="null">{{ 'jhipsterApp.PaymentStatus.null' | translate }}</option>
            <option *ngFor="let paymentStatus of paymentStatusValues" [value]="paymentStatus">
              {{ 'jhipsterApp.PaymentStatus.' + paymentStatus | translate }}
            </option>
          </select>
          <div
            *ngIf="
              editForm.get('paymentStatus')!.invalid && (editForm.get('paymentStatus')!.dirty || editForm.get('paymentStatus')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('paymentStatus')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.paymentFile.bankName" for="field_bankName">Bank Name</label>
          <input type="text" class="form-control" name="bankName" id="field_bankName" data-cy="bankName" formControlName="bankName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.paymentFile.ifscCode" for="field_ifscCode">Ifsc Code</label>
          <input type="text" class="form-control" name="ifscCode" id="field_ifscCode" data-cy="ifscCode" formControlName="ifscCode" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.paymentFile.paymentMode" for="field_paymentMode">Payment Mode</label>
          <select class="form-control" name="paymentMode" formControlName="paymentMode" id="field_paymentMode" data-cy="paymentMode">
            <option [ngValue]="null">{{ 'jhipsterApp.PaymentAdviceType.null' | translate }}</option>
            <option *ngFor="let paymentAdviceType of paymentAdviceTypeValues" [value]="paymentAdviceType">
              {{ 'jhipsterApp.PaymentAdviceType.' + paymentAdviceType | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.paymentFile.khatedar" for="field_khatedar">Khatedar</label>
          <select class="form-control" id="field_khatedar" data-cy="khatedar" name="khatedar" formControlName="khatedar">
            <option *ngIf="editForm.get(['khatedar'])!.value == null" [ngValue]="null" selected></option>
            <option
              [ngValue]="khatedarOption.id === editForm.get('khatedar')!.value?.id ? editForm.get('khatedar')!.value : khatedarOption"
              *ngFor="let khatedarOption of khatedarsCollection; trackBy: trackKhatedarById"
            >
              {{ khatedarOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['khatedar'])!.invalid && (editForm.get(['khatedar'])!.dirty || editForm.get(['khatedar'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['khatedar'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.paymentFile.paymentAdvice" for="field_paymentAdvice">Payment Advice</label>
          <select
            class="form-control"
            id="field_paymentAdvice"
            data-cy="paymentAdvice"
            name="paymentAdvice"
            formControlName="paymentAdvice"
          >
            <option *ngIf="editForm.get(['paymentAdvice'])!.value == null" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                paymentAdviceOption.id === editForm.get('paymentAdvice')!.value?.id
                  ? editForm.get('paymentAdvice')!.value
                  : paymentAdviceOption
              "
              *ngFor="let paymentAdviceOption of paymentAdvicesCollection; trackBy: trackPaymentAdviceById"
            >
              {{ paymentAdviceOption.id }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['paymentAdvice'])!.invalid && (editForm.get(['paymentAdvice'])!.dirty || editForm.get(['paymentAdvice'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['paymentAdvice'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.paymentFile.projectLand" for="field_projectLand">Project Land</label>
          <select class="form-control" id="field_projectLand" data-cy="projectLand" name="projectLand" formControlName="projectLand">
            <option *ngIf="!editForm.get('projectLand')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                projectLandOption.id === editForm.get('projectLand')!.value?.id ? editForm.get('projectLand')!.value : projectLandOption
              "
              *ngFor="let projectLandOption of projectLandsSharedCollection; trackBy: trackProjectLandById"
            >
              {{ projectLandOption.id }}
            </option>
          </select>
        </div>
        <div
          *ngIf="editForm.get(['projectLand'])!.invalid && (editForm.get(['projectLand'])!.dirty || editForm.get(['projectLand'])!.touched)"
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['projectLand'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.paymentFile.survey" for="field_survey">Survey</label>
          <select class="form-control" id="field_survey" data-cy="survey" name="survey" formControlName="survey">
            <option *ngIf="!editForm.get('survey')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="surveyOption.id === editForm.get('survey')!.value?.id ? editForm.get('survey')!.value : surveyOption"
              *ngFor="let surveyOption of surveysSharedCollection; trackBy: trackSurveyById"
            >
              {{ surveyOption.id }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['survey'])!.invalid && (editForm.get(['survey'])!.dirty || editForm.get(['survey'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['survey'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.paymentFile.bank" for="field_bank">Bank</label>
          <select class="form-control" id="field_bank" data-cy="bank" name="bank" formControlName="bank">
            <option *ngIf="!editForm.get('bank')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="bankOption.id === editForm.get('bank')!.value?.id ? editForm.get('bank')!.value : bankOption"
              *ngFor="let bankOption of banksSharedCollection; trackBy: trackBankById"
            >
              {{ bankOption.name }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['bank'])!.invalid && (editForm.get(['bank'])!.dirty || editForm.get(['bank'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['bank'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.paymentFile.bankBranch" for="field_bankBranch">Bank Branch</label>
          <select class="form-control" id="field_bankBranch" data-cy="bankBranch" name="bankBranch" formControlName="bankBranch">
            <option *ngIf="!editForm.get('bankBranch')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                bankBranchOption.id === editForm.get('bankBranch')!.value?.id ? editForm.get('bankBranch')!.value : bankBranchOption
              "
              *ngFor="let bankBranchOption of bankBranchesSharedCollection; trackBy: trackBankBranchById"
            >
              {{ bankBranchOption.name }}
            </option>
          </select>
        </div>
        <div
          *ngIf="editForm.get(['bankBranch'])!.invalid && (editForm.get(['bankBranch'])!.dirty || editForm.get(['bankBranch'])!.touched)"
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['bankBranch'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.paymentFile.landCompensation" for="field_landCompensation"
            >Land Compensation</label
          >
          <select
            class="form-control"
            id="field_landCompensation"
            data-cy="landCompensation"
            name="landCompensation"
            formControlName="landCompensation"
          >
            <option *ngIf="!editForm.get('landCompensation')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                landCompensationOption.id === editForm.get('landCompensation')!.value?.id
                  ? editForm.get('landCompensation')!.value
                  : landCompensationOption
              "
              *ngFor="let landCompensationOption of landCompensationsSharedCollection; trackBy: trackLandCompensationById"
            >
              {{ landCompensationOption.id }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['landCompensation'])!.invalid &&
            (editForm.get(['landCompensation'])!.dirty || editForm.get(['landCompensation'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['landCompensation'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
