<div>
  <h2 id="page-heading" data-cy="PaymentAdviceDetailsHeading">
    <span jhiTranslate="jhipsterApp.paymentAdviceDetails.home.title">Payment Advice Details</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterApp.paymentAdviceDetails.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-payment-advice-details"
        [routerLink]="['/payment-advice-details/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterApp.paymentAdviceDetails.home.createLabel"> Create a new Payment Advice Details </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="paymentAdviceDetails?.length === 0">
    <span jhiTranslate="jhipsterApp.paymentAdviceDetails.home.notFound">No paymentAdviceDetails found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="paymentAdviceDetails && paymentAdviceDetails.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="landOwners">
            <span jhiTranslate="jhipsterApp.paymentAdviceDetails.landOwners">Land Owners</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="hissaType">
            <span jhiTranslate="jhipsterApp.paymentAdviceDetails.hissaType">Hissa Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="paymentAdvice.id">
            <span jhiTranslate="jhipsterApp.paymentAdviceDetails.paymentAdvice">Payment Advice</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="projectLand.id">
            <span jhiTranslate="jhipsterApp.paymentAdviceDetails.projectLand">Project Land</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="khatedar.id">
            <span jhiTranslate="jhipsterApp.paymentAdviceDetails.khatedar">Khatedar</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paymentAdviceDetails of paymentAdviceDetails; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/payment-advice-details', paymentAdviceDetails.id, 'view']">{{ paymentAdviceDetails.id }}</a>
          </td>
          <td>{{ paymentAdviceDetails.landOwners }}</td>
          <td jhiTranslate="{{ 'jhipsterApp.HissaType.' + paymentAdviceDetails.hissaType }}">{{ paymentAdviceDetails.hissaType }}</td>
          <td>
            <div *ngIf="paymentAdviceDetails.paymentAdvice">
              <a [routerLink]="['/payment-advice', paymentAdviceDetails.paymentAdvice?.id, 'view']">{{
                paymentAdviceDetails.paymentAdvice?.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="paymentAdviceDetails.projectLand">
              <a [routerLink]="['/project-land', paymentAdviceDetails.projectLand?.id, 'view']">{{
                paymentAdviceDetails.projectLand?.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="paymentAdviceDetails.khatedar">
              <a [routerLink]="['/khatedar', paymentAdviceDetails.khatedar?.id, 'view']">{{ paymentAdviceDetails.khatedar?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/payment-advice-details', paymentAdviceDetails.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/payment-advice-details', paymentAdviceDetails.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(paymentAdviceDetails)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="paymentAdviceDetails && paymentAdviceDetails.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
