<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="sequenceGenerator">
      <h2 data-cy="sequenceGeneratorDetailsHeading">
        <span jhiTranslate="jhipsterApp.sequenceGenerator.detail.title">Sequence Generator</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ sequenceGenerator.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.sequenceGenerator.seqType">Seq Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'jhipsterApp.SequenceType.' + sequenceGenerator.seqType }}">{{ sequenceGenerator.seqType }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.sequenceGenerator.latestSequence">Latest Sequence</span></dt>
        <dd>
          <span>{{ sequenceGenerator.latestSequence }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.sequenceGenerator.sequenceSuffix">Sequence Suffix</span></dt>
        <dd>
          <span>{{ sequenceGenerator.sequenceSuffix }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/sequence-generator', sequenceGenerator.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
