.card-header {
  border-left: 2px solid #888888;
  border-right: 2px solid #888888;
  border-bottom: 2px solid #888888;
}

.nav {
  border-bottom: 2px solid #888888;
}

.nav-tabs .nav-link.active {
  border-bottom: 0px;
  border-left: 2px solid #888888;
  border-right: 2px solid #888888;
  border-top: 2px solid #888888;
}
