<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-khatedar-heading" data-cy="KhatedarCreateUpdateHeading" jhiTranslate="jhipsterApp.khatedar.home.createOrEditLabel">
        Create or edit a Khatedar
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.khatedar.caseFileNo" for="field_caseFileNo">Case File No</label>
          <input
            type="text"
            class="form-control"
            name="caseFileNo"
            id="field_caseFileNo"
            data-cy="caseFileNo"
            formControlName="caseFileNo"
          />
          <div *ngIf="editForm.get('caseFileNo')!.invalid && (editForm.get('caseFileNo')!.dirty || editForm.get('caseFileNo')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('caseFileNo')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.khatedar.remarks" for="field_remarks">Remarks</label>
          <input type="text" class="form-control" name="remarks" id="field_remarks" data-cy="remarks" formControlName="remarks" />
          <div *ngIf="editForm.get('remarks')!.invalid && (editForm.get('remarks')!.dirty || editForm.get('remarks')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('remarks')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.khatedar.hissaType" for="field_hissaType">Hissa Type</label>
          <select class="form-control" name="hissaType" formControlName="hissaType" id="field_hissaType" data-cy="hissaType">
            <option [ngValue]="null">{{ 'jhipsterApp.HissaType.null' | translate }}</option>
            <option *ngFor="let hissaType of hissaTypeValues" [value]="hissaType">
              {{ 'jhipsterApp.HissaType.' + hissaType | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('hissaType')!.invalid && (editForm.get('hissaType')!.dirty || editForm.get('hissaType')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('hissaType')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.khatedar.khatedarStatus" for="field_khatedarStatus">Khatedar Status</label>
          <select
            class="form-control"
            name="khatedarStatus"
            formControlName="khatedarStatus"
            id="field_khatedarStatus"
            data-cy="khatedarStatus"
          >
            <option [ngValue]="null">{{ 'jhipsterApp.KhatedarStatus.null' | translate }}</option>
            <option *ngFor="let khatedarStatus of khatedarStatusValues" [value]="khatedarStatus">
              {{ 'jhipsterApp.KhatedarStatus.' + khatedarStatus | translate }}
            </option>
          </select>
          <div
            *ngIf="
              editForm.get('khatedarStatus')!.invalid && (editForm.get('khatedarStatus')!.dirty || editForm.get('khatedarStatus')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('khatedarStatus')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.khatedar.projectLand" for="field_projectLand">Project Land</label>
          <select class="form-control" id="field_projectLand" data-cy="projectLand" name="projectLand" formControlName="projectLand">
            <option *ngIf="!editForm.get('projectLand')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                projectLandOption.id === editForm.get('projectLand')!.value?.id ? editForm.get('projectLand')!.value : projectLandOption
              "
              *ngFor="let projectLandOption of projectLandsSharedCollection; trackBy: trackProjectLandById"
            >
              {{ projectLandOption.id }}
            </option>
          </select>
        </div>
        <div
          *ngIf="editForm.get(['projectLand'])!.invalid && (editForm.get(['projectLand'])!.dirty || editForm.get(['projectLand'])!.touched)"
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['projectLand'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.khatedar.citizen" for="field_citizen">Citizen</label>
          <select class="form-control" id="field_citizen" data-cy="citizen" name="citizen" formControlName="citizen">
            <option *ngIf="!editForm.get('citizen')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="citizenOption.id === editForm.get('citizen')!.value?.id ? editForm.get('citizen')!.value : citizenOption"
              *ngFor="let citizenOption of citizensSharedCollection; trackBy: trackCitizenById"
            >
              {{ citizenOption.name }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['citizen'])!.invalid && (editForm.get(['citizen'])!.dirty || editForm.get(['citizen'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['citizen'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
