<div>
  <div class="col-12">
    <div *ngIf="paymentAdvice">
      <h2 data-cy="paymentAdviceDetailsHeading"><span jhiTranslate="jhipsterApp.paymentAdvice.detail.title">Payment Advice</span></h2>
      <hr />
      <jhi-alert-error></jhi-alert-error>
      <jhi-alert></jhi-alert>

      <div class="row">
        <div class="col-md-3">
          <dl class="row-md jh-entity-details">
            <dt><span jhiTranslate="jhipsterApp.paymentAdvice.accountHolderName">Account Holder Name</span></dt>
            <dd>
              <span>{{ paymentAdvice.accountHolderName }}</span>
            </dd>
          </dl>
        </div>
        <div class="col-md-3">
          <dl class="row-md jh-entity-details">
            <dt><span jhiTranslate="jhipsterApp.paymentAdvice.accountHolderBankName">Account Holder Bank Name</span></dt>
            <dd>
              <span>{{ paymentAdvice.accountHolderBankName }}</span>
            </dd>
          </dl>
        </div>

        <div class="col-md-3">
          <dl class="row-md jh-entity-details">
            <dt><span jhiTranslate="jhipsterApp.paymentAdvice.paymentAmount">Payment Amount</span></dt>
            <dd>
              <span>{{ paymentAdvice.paymentAmount | currency: '&#8377;' }}</span>
            </dd>
          </dl>
        </div>

        <div class="col-md-3">
          <dl class="row-md jh-entity-details">
            <dt><span jhiTranslate="jhipsterApp.paymentAdvice.accountHolderBankName">Account Holder Bank Name</span></dt>
            <dd>
              <span>{{ paymentAdvice.accountHolderBankName }}</span>
            </dd>
          </dl>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <dl class="row-md jh-entity-details">
            <dt><span jhiTranslate="jhipsterApp.paymentAdvice.accountNumber">Account Number</span></dt>
            <dd>
              <span>{{ paymentAdvice.accountNumber }}</span>
            </dd>
          </dl>
        </div>
        <div class="col-md-3">
          <dl class="row-md jh-entity-details">
            <dt><span jhiTranslate="jhipsterApp.paymentAdvice.ifscCode">Ifsc Code</span></dt>
            <dd>
              <span>{{ paymentAdvice.ifscCode }}</span>
            </dd>
          </dl>
        </div>
        <div class="col-md-3">
          <dl class="row-md jh-entity-details">
            <dt><span jhiTranslate="jhipsterApp.paymentAdvice.checkNumber">Check Number</span></dt>
            <dd>
              <span>{{ paymentAdvice.checkNumber }}</span>
            </dd>
          </dl>
        </div>
        <div class="col-md-3">
          <dl class="row-md jh-entity-details">
            <dt><span jhiTranslate="jhipsterApp.paymentAdvice.micrCode">Micr Code</span></dt>
            <dd>
              <span>{{ paymentAdvice.micrCode }}</span>
            </dd>
          </dl>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <dl class="row-md jh-entity-details">
            <dt><span>Payment Advice Type</span></dt>
            <dd>
              <span>{{ paymentAdvice.paymentAdviceType }}</span>
            </dd>
          </dl>
        </div>
        <div class="col-md-3">
          <dl class="row-md jh-entity-details">
            <dt><span jhiTranslate="jhipsterApp.paymentAdvice.referenceNumber">Reference Number</span></dt>
            <dd>
              <span>{{ paymentAdvice.referenceNumber }}</span>
            </dd>
          </dl>
        </div>
        <div class="col-md-3">
          <dl class="row-md jh-entity-details">
            <dt><span jhiTranslate="jhipsterApp.paymentAdvice.paymentStatus">Payment Status</span></dt>
            <dd>
              <span>{{ paymentAdvice.paymentStatus }}</span>
            </dd>
          </dl>
        </div>
        <div class="col-md-3">
          <dl class="row-md jh-entity-details">
            <dt><span jhiTranslate="jhipsterApp.paymentAdvice.hissaType">Hissa Type</span></dt>
            <dd>
              <span jhiTranslate="{{ 'jhipsterApp.HissaType.' + paymentAdvice.hissaType }}">{{ paymentAdvice.hissaType }}</span>
            </dd>
          </dl>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <dl class="row-md jh-entity-details">
            <dt><span jhiTranslate="jhipsterApp.paymentAdvice.khatedar">Khatedar</span></dt>
            <dd>
              <div *ngIf="paymentAdvice.khatedar">
                <a [routerLink]="['/khatedar', paymentAdvice.khatedar?.id, 'view']">{{ paymentAdvice.khatedar?.id }}</a>
              </div>
            </dd>
          </dl>
        </div>
        <div class="col-md-3">
          <dl class="row-md jh-entity-details">
            <dt><span jhiTranslate="jhipsterApp.paymentAdvice.landCompensation">Land Compensation</span></dt>
            <dd>
              <div *ngIf="paymentAdvice.landCompensation">
                <a [routerLink]="['/land-compensation', paymentAdvice.landCompensation?.id, 'view']">{{
                  paymentAdvice.landCompensation?.id
                }}</a>
              </div>
            </dd>
          </dl>
        </div>
        <div class="col-md-3">
          <dl class="row-md jh-entity-details">
            <dt><span jhiTranslate="jhipsterApp.paymentAdvice.projectLand">Project Land</span></dt>
            <dd>
              <div *ngIf="paymentAdvice.projectLand">
                <a [routerLink]="['/project-land', paymentAdvice.projectLand?.id, 'view']">{{ paymentAdvice.projectLand?.id }}</a>
              </div>
            </dd>
          </dl>
        </div>
        <div class="col-md-3">
          <dl class="row-md jh-entity-details">
            <dt><span jhiTranslate="jhipsterApp.paymentAdvice.survey">Survey</span></dt>
            <dd>
              <div *ngIf="paymentAdvice.survey">
                <a [routerLink]="['/survey', paymentAdvice.survey?.id, 'view']">{{ paymentAdvice.survey?.id }}</a>
              </div>
            </dd>
          </dl>
        </div>
      </div>

      <div class="p-1 mb-2 bg-success text-white">Primary Owner Section</div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Primary Owner Name</th>
            <th scope="col">Title in Bank</th>
            <th scope="col">Aadhar No</th>
            <th scope="col">Account No</th>
            <th scope="col">IFSC</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>राजवीर</td>
            <td>राजवीर</td>
            <td>458736521238</td>
            <td>335501502484</td>
            <td>SBI00008370</td>
          </tr>
        </tbody>
      </table>

      <div class="p-1 mb-2 bg-secondary text-white">Compensation Details Section</div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Compensation ID</th>
            <th scope="col">Compensation Amount</th>
            <th scope="col">Compensation Date</th>
            <th scope="col">Khasra Id</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>152</td>
            <td class="font-weight-bold text-primary">3339172.43 &#8377;</td>
            <td>01-Aug-2022</td>
            <td>419</td>
          </tr>
        </tbody>
      </table>

      <div class="p-1 mb-2 bg-secondary text-white">Co Owner(s) Section</div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Co Owner Name</th>
            <th scope="col">Hissa Type</th>
            <th scope="col">Date</th>
            <th scope="col">Khasra</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>कुनाल,राजवीर,रामपाल,सत्यवती</td>
            <td>JOINT</td>
            <td>01-AUG-2022</td>
            <td>419</td>
          </tr>
        </tbody>
      </table>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/payment-advice', paymentAdvice.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
