<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="paymentAdviceDetails">
      <h2 data-cy="paymentAdviceDetailsDetailsHeading">
        <span jhiTranslate="jhipsterApp.paymentAdviceDetails.detail.title">Payment Advice Details</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ paymentAdviceDetails.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.paymentAdviceDetails.landOwners">Land Owners</span></dt>
        <dd>
          <span>{{ paymentAdviceDetails.landOwners }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.paymentAdviceDetails.hissaType">Hissa Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'jhipsterApp.HissaType.' + paymentAdviceDetails.hissaType }}">{{ paymentAdviceDetails.hissaType }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.paymentAdviceDetails.paymentAdvice">Payment Advice</span></dt>
        <dd>
          <div *ngIf="paymentAdviceDetails.paymentAdvice">
            <a [routerLink]="['/payment-advice', paymentAdviceDetails.paymentAdvice?.id, 'view']">{{
              paymentAdviceDetails.paymentAdvice?.id
            }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.paymentAdviceDetails.projectLand">Project Land</span></dt>
        <dd>
          <div *ngIf="paymentAdviceDetails.projectLand">
            <a [routerLink]="['/project-land', paymentAdviceDetails.projectLand?.id, 'view']">{{ paymentAdviceDetails.projectLand?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.paymentAdviceDetails.khatedar">Khatedar</span></dt>
        <dd>
          <div *ngIf="paymentAdviceDetails.khatedar">
            <a [routerLink]="['/khatedar', paymentAdviceDetails.khatedar?.id, 'view']">{{ paymentAdviceDetails.khatedar?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/payment-advice-details', paymentAdviceDetails.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
