<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="paymentFile">
      <h2 data-cy="paymentFileDetailsHeading"><span jhiTranslate="jhipsterApp.paymentFile.detail.title">Payment File</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ paymentFile.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.paymentFile.paymentFileId">Payment File Id</span></dt>
        <dd>
          <span>{{ paymentFile.paymentFileId }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.paymentFile.totalPaymentAmount">Total Payment Amount</span></dt>
        <dd>
          <span>{{ paymentFile.totalPaymentAmount }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.paymentFile.paymentFileDate">Payment File Date</span></dt>
        <dd>
          <span>{{ paymentFile.paymentFileDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.paymentFile.paymentFileStatus">Payment File Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'jhipsterApp.PaymentStatus.' + paymentFile.paymentFileStatus }}">{{ paymentFile.paymentFileStatus }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.paymentFile.khatedarIfscCode">Khatedar Ifsc Code</span></dt>
        <dd>
          <span>{{ paymentFile.khatedarIfscCode }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.paymentFile.paymentMode">Payment Mode</span></dt>
        <dd>
          <span jhiTranslate="{{ 'jhipsterApp.PaymentAdviceType.' + paymentFile.paymentMode }}">{{ paymentFile.paymentMode }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.paymentFile.khatedar">Khatedar</span></dt>
        <dd>
          <div *ngIf="paymentFile.khatedar">
            <a [routerLink]="['/khatedar', paymentFile.khatedar?.id, 'view']">{{ paymentFile.khatedar?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.paymentFile.paymentAdvice">Payment Advice</span></dt>
        <dd>
          <div *ngIf="paymentFile.paymentAdvice">
            <a [routerLink]="['/payment-advice', paymentFile.paymentAdvice?.id, 'view']">{{ paymentFile.paymentAdvice?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.paymentFile.projectLand">Project Land</span></dt>
        <dd>
          <div *ngIf="paymentFile.projectLand">
            <a [routerLink]="['/project-land', paymentFile.projectLand?.id, 'view']">{{ paymentFile.projectLand?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.paymentFile.survey">Survey</span></dt>
        <dd>
          <div *ngIf="paymentFile.survey">
            <a [routerLink]="['/survey', paymentFile.survey?.id, 'view']">{{ paymentFile.survey?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.paymentFile.bank">Bank</span></dt>
        <dd>
          <div *ngIf="paymentFile.bank">
            <a [routerLink]="['/bank', paymentFile.bank?.id, 'view']">{{ paymentFile.bank?.name }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.paymentFile.bankBranch">Bank Branch</span></dt>
        <dd>
          <div *ngIf="paymentFile.bankBranch">
            <a [routerLink]="['/bank-branch', paymentFile.bankBranch?.id, 'view']">{{ paymentFile.bankBranch?.name }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.paymentFile.landCompensation">Land Compensation</span></dt>
        <dd>
          <div *ngIf="paymentFile.landCompensation">
            <a [routerLink]="['/land-compensation', paymentFile.landCompensation?.id, 'view']">{{ paymentFile.landCompensation?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.paymentFile.paymentFileHeader">Payment File Header</span></dt>
        <dd>
          <div *ngIf="paymentFile.paymentFileHeader">
            <a [routerLink]="['/payment-file-header', paymentFile.paymentFileHeader?.id, 'view']">{{
              paymentFile.paymentFileHeader?.id
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/payment-file', paymentFile.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
