<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="noticeStatusInfo">
      <h2 data-cy="noticeStatusInfoDetailsHeading">
        <span jhiTranslate="jhipsterApp.noticeStatusInfo.detail.title">Notice Status Info</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ noticeStatusInfo.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.noticeStatusInfo.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'jhipsterApp.NoticeStatus.' + noticeStatusInfo.status }}">{{ noticeStatusInfo.status }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/notice-status-info', noticeStatusInfo.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
