<div>
  <h2 id="page-heading" data-cy="ProjectLandHeading">
    <span jhiTranslate="jhipsterApp.projectLand.home.title">Project Lands</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterApp.projectLand.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-project-land"
        [routerLink]="['/project-land/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterApp.projectLand.home.createLabel"> Create a new Project Land </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="projectLands?.length === 0">
    <span jhiTranslate="jhipsterApp.projectLand.home.notFound">No projectLands found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="projectLands && projectLands.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="remarks">
            <span jhiTranslate="jhipsterApp.projectLand.remarks">Remarks</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="documents">
            <span jhiTranslate="jhipsterApp.projectLand.documents">Documents</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="hissaType">
            <span jhiTranslate="jhipsterApp.projectLand.hissaType">Hissa Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="project.name">
            <span jhiTranslate="jhipsterApp.projectLand.project">Project</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="land.khasraNumber">
            <span jhiTranslate="jhipsterApp.projectLand.land">Land</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="noticeStatusInfo.id">
            <span jhiTranslate="jhipsterApp.projectLand.noticeStatusInfo">Notice Status Info</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let projectLand of projectLands; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/project-land', projectLand.id, 'view']">{{ projectLand.id }}</a>
          </td>
          <td>{{ projectLand.remarks }}</td>
          <td>
            <a
              *ngIf="projectLand.documents"
              (click)="openFile(projectLand.documents, projectLand.documentsContentType)"
              jhiTranslate="entity.action.open"
              >open</a
            >
            <span *ngIf="projectLand.documents">{{ projectLand.documentsContentType }}, {{ byteSize(projectLand.documents) }}</span>
          </td>
          <td jhiTranslate="{{ 'jhipsterApp.HissaType.' + projectLand.hissaType }}">{{ projectLand.hissaType }}</td>
          <td>
            <div *ngIf="projectLand.project">
              <a [routerLink]="['/project', projectLand.project?.id, 'view']">{{ projectLand.project?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="projectLand.land">
              <a [routerLink]="['/land', projectLand.land?.id, 'view']">{{ projectLand.land?.khasraNumber }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="projectLand.noticeStatusInfo">
              <a [routerLink]="['/notice-status-info', projectLand.noticeStatusInfo?.id, 'view']">{{ projectLand.noticeStatusInfo?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/project-land', projectLand.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/project-land', projectLand.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(projectLand)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="projectLands && projectLands.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
