<div>
  <h2 id="page-heading" data-cy="BankBranchHeading">
    <span jhiTranslate="jhipsterApp.bankBranch.home.title">Bank Branches</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterApp.bankBranch.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-bank-branch"
        [routerLink]="['/bank-branch/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterApp.bankBranch.home.createLabel"> Create a new Bank Branch </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="bankBranches?.length === 0">
    <span jhiTranslate="jhipsterApp.bankBranch.home.notFound">No bankBranches found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="bankBranches && bankBranches.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name"><span jhiTranslate="jhipsterApp.bankBranch.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="ifsc"><span jhiTranslate="jhipsterApp.bankBranch.ifsc">Ifsc</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="address">
            <span jhiTranslate="jhipsterApp.bankBranch.address">Address</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="bank.name">
            <span jhiTranslate="jhipsterApp.bankBranch.bank">Bank</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bankBranch of bankBranches; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/bank-branch', bankBranch.id, 'view']">{{ bankBranch.id }}</a>
          </td>
          <td>{{ bankBranch.name }}</td>
          <td>{{ bankBranch.ifsc }}</td>
          <td>{{ bankBranch.address }}</td>
          <td>
            <div *ngIf="bankBranch.bank">
              <a [routerLink]="['/bank', bankBranch.bank?.id, 'view']">{{ bankBranch.bank?.name }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/bank-branch', bankBranch.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/bank-branch', bankBranch.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(bankBranch)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="bankBranches && bankBranches.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
