<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-payment-file-recon-heading"
        data-cy="PaymentFileReconCreateUpdateHeading"
        jhiTranslate="jhipsterApp.paymentFileRecon.home.createOrEditLabel"
      >
        Create or edit a Payment File Recon
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.paymentFileRecon.primaryHolderName" for="field_primaryHolderName"
            >Primary Holder Name</label
          >
          <input
            type="text"
            class="form-control"
            name="primaryHolderName"
            id="field_primaryHolderName"
            data-cy="primaryHolderName"
            formControlName="primaryHolderName"
          />
          <div
            *ngIf="
              editForm.get('primaryHolderName')!.invalid &&
              (editForm.get('primaryHolderName')!.dirty || editForm.get('primaryHolderName')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('primaryHolderName')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.paymentFileRecon.paymentAmount" for="field_paymentAmount"
            >Payment Amount</label
          >
          <input
            type="number"
            class="form-control"
            name="paymentAmount"
            id="field_paymentAmount"
            data-cy="paymentAmount"
            formControlName="paymentAmount"
          />
          <div
            *ngIf="
              editForm.get('paymentAmount')!.invalid && (editForm.get('paymentAmount')!.dirty || editForm.get('paymentAmount')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('paymentAmount')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('paymentAmount')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.paymentFileRecon.paymentDate" for="field_paymentDate">Payment Date</label>
          <div class="input-group">
            <input
              id="field_paymentDate"
              data-cy="paymentDate"
              type="text"
              class="form-control"
              name="paymentDate"
              ngbDatepicker
              #paymentDateDp="ngbDatepicker"
              formControlName="paymentDate"
            />
            <button type="button" class="btn btn-secondary" (click)="paymentDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.paymentFileRecon.utrNumber" for="field_utrNumber">Utr Number</label>
          <input type="text" class="form-control" name="utrNumber" id="field_utrNumber" data-cy="utrNumber" formControlName="utrNumber" />
          <div *ngIf="editForm.get('utrNumber')!.invalid && (editForm.get('utrNumber')!.dirty || editForm.get('utrNumber')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('utrNumber')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.paymentFileRecon.referenceNumber" for="field_referenceNumber"
            >Reference Number</label
          >
          <input
            type="text"
            class="form-control"
            name="referenceNumber"
            id="field_referenceNumber"
            data-cy="referenceNumber"
            formControlName="referenceNumber"
          />
          <div
            *ngIf="
              editForm.get('referenceNumber')!.invalid &&
              (editForm.get('referenceNumber')!.dirty || editForm.get('referenceNumber')!.touched)
            "
          ></div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.paymentFileRecon.paymentStatus" for="field_paymentStatus"
            >Payment Status</label
          >
          <select
            class="form-control"
            name="paymentStatus"
            formControlName="paymentStatus"
            id="field_paymentStatus"
            data-cy="paymentStatus"
          >
            <option [ngValue]="null">{{ 'jhipsterApp.PaymentStatus.null' | translate }}</option>
            <option *ngFor="let paymentStatus of paymentStatusValues" [value]="paymentStatus">
              {{ 'jhipsterApp.PaymentStatus.' + paymentStatus | translate }}
            </option>
          </select>
          <div
            *ngIf="
              editForm.get('paymentStatus')!.invalid && (editForm.get('paymentStatus')!.dirty || editForm.get('paymentStatus')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('paymentStatus')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.paymentFileRecon.paymentAdvice" for="field_paymentAdvice"
            >Payment Advice</label
          >
          <select
            class="form-control"
            id="field_paymentAdvice"
            data-cy="paymentAdvice"
            name="paymentAdvice"
            formControlName="paymentAdvice"
          >
            <option *ngIf="editForm.get(['paymentAdvice'])!.value == null" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                paymentAdviceOption.id === editForm.get('paymentAdvice')!.value?.id
                  ? editForm.get('paymentAdvice')!.value
                  : paymentAdviceOption
              "
              *ngFor="let paymentAdviceOption of paymentAdvicesCollection; trackBy: trackPaymentAdviceById"
            >
              {{ paymentAdviceOption.id }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['paymentAdvice'])!.invalid && (editForm.get(['paymentAdvice'])!.dirty || editForm.get(['paymentAdvice'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['paymentAdvice'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
