<div class="col-md-12 p-4">
  <div>
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-payment-advice-heading"
        class="text-center"
        data-cy="PaymentAdviceCreateUpdateHeading"
        jhiTranslate="jhipsterApp.paymentAdvice.home.createLabel"
      >
        Create a Payment Advice...
      </h2>

      <div class="col-md-12">
        <jhi-alert-error></jhi-alert-error>
        <jhi-alert></jhi-alert>
        <div class="row">
          <div class="p-2 mb-2 bg-secondary text-white text-center">Compensation Details</div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label class="form-label" for="field_solatium">Solatium</label>
            <input
              type="number"
              class="form-control"
              name="id"
              id="field_solatium"
              data-cy="solatium"
              formControlName="solatium"
              [readonly]="true"
              [value]="100000"
            />
          </div>
          <div class="col-md-4">
            <label class="form-label" for="field_id">Interest Rate</label>
            <input
              type="number"
              class="form-control"
              name="id"
              id="field_id"
              data-cy="id"
              formControlName="id"
              [readonly]="true"
              [value]="2"
            />
          </div>
          <div class="col-md-4">
            <label class="form-label" for="field_id">Interest Days</label>
            <input
              type="number"
              class="form-control"
              name="id"
              id="field_id"
              data-cy="id"
              formControlName="id"
              [readonly]="true"
              [value]="365"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label class="form-label" for="field_solatium">Order Date</label>
            <input
              type="text"
              class="form-control"
              name="id"
              id="field_solatium"
              data-cy="solatium"
              formControlName="solatium"
              [readonly]="true"
              [value]="orderDate"
            />
          </div>
          <div class="col-md-4">
            <label class="form-label" for="field_id">Additional</label>
            <input
              type="number"
              class="form-control"
              name="id"
              id="field_id"
              data-cy="id"
              formControlName="id"
              [readonly]="true"
              [value]="10000000"
            />
          </div>
          <div class="col-md-4">
            <label class="form-label" for="field_status">Comp Status</label>
            <input
              type="text"
              class="form-control"
              name="status"
              id="field_status"
              data-cy="status"
              formControlName="status"
              [readonly]="true"
              [value]="compStatus"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label class="form-label" for="field_solatium">Final Amount</label>
            <input
              type="number"
              class="form-control"
              name="finalAmt"
              id="field_finalAmt"
              data-cy="finalAmt"
              formControlName="finalAmt"
              [readonly]="true"
              [value]=""
            />
          </div>
          <div class="col-md-6">
            <label class="form-label" for="field_id">Comments</label>
            <input
              type="number"
              class="form-control"
              name="finalAmt"
              id="field_id"
              data-cy="finalAmt"
              formControlName="finalAmt"
              [readonly]="true"
              [value]=""
            />
          </div>
        </div>

        <div class="row">
          <div class="p-2 mb-2 mt-4 bg-secondary text-white text-center">Add Land Owners</div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <label class="form-label" for="field_solatium">Hissa Type</label>
            <input
              type="number"
              class="form-control mb-1"
              name="id"
              id="field_solatium"
              data-cy="solatium"
              formControlName="solatium"
              [readonly]="true"
              [value]="hissaType"
            />

            <button type="button" class="btn border me-2 btn-primary text-white pull-right">Select Owners</button>
            <button type="button" class="btn border me-2 btn-primary text-white pull-right">Add Beneficiary Account</button>
          </div>
        </div>
        <table class="table table-bordered mb-9 mt-4">
          <thead class="border border-2 border-secondary">
            <tr class="border border-2 border-secondary">
              <th scope="col">Sr</th>
              <th scope="col">Name</th>
              <th scope="col">Aadhar</th>
              <th scope="col">Father</th>
              <th scope="col">Mobile</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr class="border border-2 border-secondary">
              <th scope="row">1</th>
              <td>Sube Singh</td>
              <td>1234</td>
              <td>ABC</td>
              <td>999980766</td>
              <td><button type="button" class="btn btn-danger">Remove</button></td>
            </tr>
            <tr class="border border-2 border-secondary">
              <th scope="row">2</th>
              <td>Sonbir</td>
              <td>1234</td>
              <td>ABC</td>
              <td>999980766</td>
              <td><button type="button" class="btn btn-danger">Remove</button></td>
            </tr>
          </tbody>
        </table>

        <div class="row">
          <div class="p-2 mb-2 mt-4 bg-secondary text-white text-center">Beneficiary Details (Payment will be made to this account)</div>
        </div>

        <table class="table table-bordered mb-9 mt-4">
          <thead class="border border-2 border-secondary">
            <tr>
              <th scope="col">Bank Title</th>
              <th scope="col">Bank</th>
              <th scope="col">Branch</th>
              <th scope="col">Bank Address</th>
              <th scope="col">IFSC</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">sube,Sonbir</th>
              <td>HDFC</td>
              <td>Delhi</td>
              <td>South Delhi</td>
              <td>HDFC001</td>
            </tr>
          </tbody>
        </table>

        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn border me-2 btn-primary text-white pull-right">Create Payment Advice</button>
            <button type="button" class="btn border me-2 btn-primary text-white pull-right">Close</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
