<div>
  <h2 id="page-heading" data-cy="PaymentFileHeaderHeading">
    <span>Download Payment File(s)</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterApp.paymentFileHeader.home.refreshListLabel">Refresh List</span>
      </button>

      <!--      <button-->
      <!--        id="jh-create-entity"-->
      <!--        data-cy="entityCreateButton"-->
      <!--        class="btn btn-primary jh-create-entity create-payment-file-header"-->
      <!--        [routerLink]="['/payment-file-header/new']"-->
      <!--      >-->
      <!--        <fa-icon icon="plus"></fa-icon>-->
      <!--        <span jhiTranslate="jhipsterApp.paymentFileHeader.home.createLabel"> Create a new Payment File Header </span>-->
      <!--      </button>-->
      <div style="margin-left: 10px"></div>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="paymentFileHeaders?.length === 0">
    <span jhiTranslate="jhipsterApp.paymentFileHeader.home.notFound">No paymentFileHeaders found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="paymentFileHeaders && paymentFileHeaders.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col">
            <span>Select</span>
          </th>
          <th scope="col" jhiSortBy="id">
            <span jhiTranslate="global.field.id">ID</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col">
            <span>Project</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col">
            <span>Payment File Id</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="paymentStatus">
            <span jhiTranslate="jhipsterApp.paymentFileHeader.paymentStatus">Payment Status</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="paymentMode">
            <span jhiTranslate="jhipsterApp.paymentFileHeader.paymentMode">Payment Mode</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="approverRemarks">
            <span jhiTranslate="jhipsterApp.paymentFileHeader.approverRemarks">Approver Remarks</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="grandTotalPaymentAmount">
            <span jhiTranslate="jhipsterApp.paymentFileHeader.grandTotalPaymentAmount">Grand Total Payment Amount</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col">
            <span>Created Date</span>
            <fa-icon icon="sort"></fa-icon>
          </th>

          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paymentFileHeader of paymentFileHeaders; trackBy: trackId" data-cy="entityTable">
          <td>
            <input type="checkbox" (click)="OnClick(paymentFileHeader.id)" />
          </td>
          <td>
            <a [routerLink]="['/payment-file-header', paymentFileHeader.id, 'view']">{{ paymentFileHeader.id }}</a>
          </td>
          <td>{{ paymentFileHeader.project }}</td>
          <td>{{ paymentFileHeader.paymentFileId }}</td>
          <td jhiTranslate="{{ 'jhipsterApp.PaymentStatus.' + paymentFileHeader.paymentStatus }}">{{ paymentFileHeader.paymentStatus }}</td>
          <td jhiTranslate="{{ 'jhipsterApp.PaymentAdviceType.' + paymentFileHeader.paymentMode }}">{{ paymentFileHeader.paymentMode }}</td>
          <td>{{ paymentFileHeader.approverRemarks }}</td>
          <td>{{ paymentFileHeader.grandTotalPaymentAmount | currency: '&#8377;' }}</td>
          <td>{{ paymentFileHeader.createdDate }}</td>
          <td>{{ paymentFileHeader.createdBy }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/payment-file-header', paymentFileHeader.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                (click)="downloadPaymentFile(paymentFileHeader)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="download"></fa-icon>
                <span class="d-none d-md-inline">Download</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="paymentFileHeaders && paymentFileHeaders.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
