<div class="mt-5">
  <h2 class="text-center">Payment File</h2>

  <!-- Export Button -->
  <button class="btn btn-success" (click)="exportToExcel('paymentFileTable', 'Payment_File')">Download as Excel</button>
  <!-- Table -->
  <div class="table-responsive" id="entities" *ngIf="paymentFileHeaders && paymentFileHeaders.length > 0">
    <table class="table table-striped" aria-describedby="page-heading" id="paymentFileTable">
      <thead>
        <tr>
          <th>Select</th>
          <th>Payment File ID</th>
          <th>Citizen Name*</th>
          <th>PAN Number</th>
          <th>Bank</th>
          <th>IFSC</th>
          <th>Name in Bank</th>
          <th>Account Number</th>
          <th>Amount</th>
          <th>Payment Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="checkbox" /></td>
          <td data-label="Payment File ID">PAY/2024/001</td>
          <td data-label="Citizen Name*">नरेश कुमार</td>
          <td data-label="PAN Number">ABEQP6371L</td>
          <td data-label="Bank">SBI</td>
          <td data-label="IFSC">SBIN0001892</td>
          <td data-label="Name in Bank">नरेश कुमार</td>
          <td data-label="Account Number">30502098688</td>
          <td data-label="Amount">₹547,926</td>
          <td data-label="Payment Status">PENDING_FOR_PAYMENT</td>
        </tr>
        <tr>
          <td><input type="checkbox" /></td>
          <td data-label="Payment File ID">PAY/2024/002</td>
          <td data-label="Citizen Name*">अशोक कुमार</td>
          <td data-label="PAN Number">ABEQJ9319L</td>
          <td data-label="Bank">SBI</td>
          <td data-label="IFSC">SBIN0001892</td>
          <td data-label="Name in Bank">अशोक कुमार</td>
          <td data-label="Account Number">30502080222</td>
          <td data-label="Amount">₹547,926</td>
          <td data-label="Payment Status">PENDING_FOR_PAYMENT</td>
        </tr>
        <tr>
          <td><input type="checkbox" /></td>
          <td data-label="Payment File ID">PAY/2024/003</td>
          <td data-label="Citizen Name*">दिनेश कुमार</td>
          <td data-label="PAN Number">ABEPL5681B</td>
          <td data-label="Bank">SBI</td>
          <td data-label="IFSC">SBIN0001892</td>
          <td data-label="Name in Bank">दिनेश कुमार</td>
          <td data-label="Account Number">30502071891</td>
          <td data-label="Amount">₹547,926</td>
          <td data-label="Payment Status">PENDING_FOR_PAYMENT</td>
        </tr>
        <tr>
          <td><input type="checkbox" /></td>
          <td data-label="Payment File ID">PAY/2024/004</td>
          <td data-label="Citizen Name*">रमेश कुमार</td>
          <td data-label="PAN Number">ABEPL8261P</td>
          <td data-label="Bank">SBI</td>
          <td data-label="IFSC">SBIN0001892</td>
          <td data-label="Name in Bank">रमेश कुमार</td>
          <td data-label="Account Number">30502084913</td>
          <td data-label="Amount">₹547,926</td>
          <td data-label="Payment Status">PENDING_FOR_PAYMENT</td>
        </tr>
        <!-- Final row for total -->
        <tr class="total-row">
          <td colspan="8">Total</td>
          <td data-label="Amount">₹2,191,704</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
