<div>
  <h2 id="page-heading" data-cy="LandHeading">
    <span jhiTranslate="jhipsterApp.land.home.title">Lands</span>

    <div class="d-flex justify-content-end">
      <!--
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterApp.land.home.refreshListLabel">Refresh List</span>
      </button>
      -->
      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-land"
        [routerLink]="['/land/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterApp.land.home.createLabel"> Create a new Land </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="lands?.length === 0">
    <span jhiTranslate="jhipsterApp.land.home.notFound">No lands found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="lands && lands.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id">
            <span jhiTranslate="global.field.id">ID</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col">
            <span>State</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col">
            <span>District</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="village.name">
            <span jhiTranslate="jhipsterApp.land.village">Village</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="khasraNumber">
            <span jhiTranslate="jhipsterApp.land.khasraNumber">Khasra Number</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="khatauni">
            <span jhiTranslate="jhipsterApp.land.khatauni">Khatauni</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="area">
            <span jhiTranslate="jhipsterApp.land.area">Area</span>
            <fa-icon icon="sort"></fa-icon>
          </th>

          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let land of lands; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/land', land.id, 'view']">{{ land.id }}</a>
          </td>
          <td>{{ land.district?.state?.name }}</td>
          <td>{{ land.district?.name }}</td>
          <td>
            <div *ngIf="land.village">
              <a [routerLink]="['/village', land.village?.id, 'view']">{{ land.village?.name }}</a>
            </div>
          </td>
          <td>{{ land.khasraNumber }}</td>
          <td>{{ land.khatauni }}</td>
          <td>{{ land.area }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/land', land.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>
              <button type="submit" [routerLink]="['/land', land.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="lands && lands.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
