<!-- <jhi-page-ribbon></jhi-page-ribbon> -->
<div class="row" id="header">
  <div style="width: 110%">
    <!-- <img src="content/images/header_3.png" style="width: 100%" alt="My image" /> -->
  </div>
</div>
<div class="fixed-top">
  <router-outlet name="navbar"></router-outlet>
</div>

<div class="container-fluid" style="padding-top: 115px;">
  <div class="card jh-card" style="min-height: 500px; margin-top: 0; padding-bottom: 40px">
    <router-outlet></router-outlet>
  </div>

  <jhi-footer></jhi-footer>
  <div class="loaderCen flex-center" *ngIf="loaderService.currentStatus">
    <div class="lds-spinner">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
