<div class="d-flex justify-content-center">
  <div class="col-md-12">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-land-heading" data-cy="LandCreateUpdateHeading" jhiTranslate="jhipsterApp.land.home.createOrEditLabel">
        Create or Edit a Land Details
      </h2>

      <div class="row pt-5">
        <div class="col-md-6">
          <jhi-alert-error></jhi-alert-error>

          <div class="mb-3 d-none" [hidden]="editForm.get('id')!.value == null">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>

          <div class="mb-3">
            <label class="form-label" jhiTranslate="jhipsterApp.land.ulpin" for="field_ulpin">ULPIN</label>
            <input type="text" class="form-control" name="ulpin" id="field_ulpin" data-cy="ulpin" formControlName="ulpin" />
          </div>

          <div class="mb-3">
            <label class="form-label" jhiTranslate="jhipsterApp.land.khasraNumber" for="field_khasraNumber">Khasra Number</label>
            <input
              type="text"
              class="form-control"
              name="khasraNumber"
              id="field_khasraNumber"
              data-cy="khasraNumber"
              formControlName="khasraNumber"
            />
            <div
              *ngIf="
                editForm.get('khasraNumber')!.invalid && (editForm.get('khasraNumber')!.dirty || editForm.get('khasraNumber')!.touched)
              "
            >
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('khasraNumber')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label" jhiTranslate="jhipsterApp.land.khatauni" for="field_khatauni">Khatauni</label>
            <input type="text" class="form-control" name="khatauni" id="field_khatauni" data-cy="khatauni" formControlName="khatauni" />
          </div>

          <div class="mb-3">
            <label class="form-label" jhiTranslate="jhipsterApp.land.area" for="field_area">Area</label>
            <input type="number" class="form-control" name="area" id="field_area" data-cy="area" formControlName="area" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label class="form-label" jhiTranslate="jhipsterApp.land.village" for="field_village">Village</label>
            <select class="form-control" id="field_village" data-cy="village" name="village" formControlName="village">
              <option *ngIf="!editForm.get('village')!.value" [ngValue]="null" selected></option>
              <option
                [ngValue]="villageOption.id === editForm.get('village')!.value?.id ? editForm.get('village')!.value : villageOption"
                *ngFor="let villageOption of villagesSharedCollection; trackBy: trackVillageById"
              >
                {{ villageOption.name }}
              </option>
            </select>
          </div>
          <div *ngIf="editForm.get(['village'])!.invalid && (editForm.get(['village'])!.dirty || editForm.get(['village'])!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get(['village'])?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>

          <div class="mb-3">
            <label class="form-label" jhiTranslate="jhipsterApp.land.unit" for="field_unit">Unit</label>
            <select class="form-control" id="field_unit" data-cy="unit" name="unit" formControlName="unit">
              <option *ngIf="!editForm.get('unit')!.value" [ngValue]="null" selected></option>
              <option
                [ngValue]="unitOption.id === editForm.get('unit')!.value?.id ? editForm.get('unit')!.value : unitOption"
                *ngFor="let unitOption of unitsSharedCollection; trackBy: trackUnitById"
              >
                {{ unitOption.name }}
              </option>
            </select>
          </div>
          <div *ngIf="editForm.get(['unit'])!.invalid && (editForm.get(['unit'])!.dirty || editForm.get(['unit'])!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get(['unit'])?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>

          <div class="mb-3">
            <label class="form-label" jhiTranslate="jhipsterApp.land.landType" for="field_landType">Land Type</label>
            <select class="form-control" id="field_landType" data-cy="landType" name="landType" formControlName="landType">
              <option *ngIf="!editForm.get('landType')!.value" [ngValue]="null" selected></option>
              <option
                [ngValue]="landTypeOption.id === editForm.get('landType')!.value?.id ? editForm.get('landType')!.value : landTypeOption"
                *ngFor="let landTypeOption of landTypesSharedCollection; trackBy: trackLandTypeById"
              >
                {{ landTypeOption.name }}
              </option>
            </select>
          </div>
          <div *ngIf="editForm.get(['landType'])!.invalid && (editForm.get(['landType'])!.dirty || editForm.get(['landType'])!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get(['landType'])?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>

          <div class="mb-3">
            <label class="form-label" jhiTranslate="jhipsterApp.district.home.title" for="field_district">District</label>
            <select class="form-control" id="field_district" data-cy="district" name="district" formControlName="district">
              <option *ngIf="!editForm.get('district')!.value" [ngValue]="null" selected></option>
              <option
                [ngValue]="districtOption.id === editForm.get('district')!.value?.id ? editForm.get('district')!.value : districtOption"
                *ngFor="let districtOption of districtsSharedCollection"
              >
                {{ districtOption.name }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
