<div>
  <h2 id="page-heading" data-cy="LandCompensationHeading">
    <span>Create Payment Advice</span>

    <div class="d-flex justify-content-end">
      <!--
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterApp.landCompensation.home.refreshListLabel">Refresh List</span>
      </button>
      -->
      <!--      <button-->
      <!--        id="jh-create-entity"-->
      <!--        data-cy="entityCreateButton"-->
      <!--        class="btn btn-primary jh-create-entity create-land-compensation"-->

      <!--      >-->
      <!--        <fa-icon icon="plus"></fa-icon>-->
      <!--        <span> Create a new Payment Advise File </span>-->
      <!--      </button>-->
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="landCompensations?.length === 0">
    <span jhiTranslate="jhipsterApp.landCompensation.home.notFound">No landCompensations found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="landCompensations && landCompensations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id">
            <span jhiTranslate="jhipsterApp.landCompensation.compensationId">ID</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="projectLand.id">
            <span jhiTranslate="jhipsterApp.landCompensation.projectLand">Project Land</span>
            <fa-icon icon="sort"></fa-icon>
          </th>

          <th scope="col" jhiSortBy="survey.id">
            <span jhiTranslate="jhipsterApp.landCompensation.survey">Survey</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="hissaType">
            <span jhiTranslate="jhipsterApp.landCompensation.hissaType">Hissa Type</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="area">
            <span jhiTranslate="jhipsterApp.landCompensation.area">Area</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="landMarketValue">
            <span jhiTranslate="jhipsterApp.landCompensation.landMarketValue">Land Market Value</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="structuralCompensation">
            <span jhiTranslate="jhipsterApp.landCompensation.structuralCompensation">Structura</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="horticultureCompensation">
            <span jhiTranslate="jhipsterApp.landCompensation.horticultureCompensation">Horticulture</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="forestCompensation">
            <span jhiTranslate="jhipsterApp.landCompensation.forestCompensation">Forest</span>
            <fa-icon icon="sort"></fa-icon>
          </th>

          <th scope="col" jhiSortBy="paymentAmount">
            <span jhiTranslate="jhipsterApp.landCompensation.paymentAmount">Payment Amount</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="status">
            <span jhiTranslate="jhipsterApp.landCompensation.compensationStatus">Status</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let landCompensation of landCompensations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/land-compensation', landCompensation.id, 'view']">{{ landCompensation.id }}</a>
          </td>
          <td>
            <div *ngIf="landCompensation.projectLand">
              <a [routerLink]="['/project-land', landCompensation.projectLand?.id, 'view']">{{
                landCompensation.projectLand.land?.khasraNumber
              }}</a>
            </div>
          </td>

          <td>
            <div *ngIf="landCompensation.survey">
              <a [routerLink]="['/survey', landCompensation.survey?.id, 'view']">{{ landCompensation.survey?.id }}</a>
            </div>
          </td>

          <td jhiTranslate="{{ 'jhipsterApp.HissaType.' + landCompensation.hissaType }}">{{ landCompensation.hissaType }}</td>

          <td>{{ landCompensation.area }}</td>
          <td>{{ landCompensation.landMarketValue | currency: '&#8377;' }}</td>
          <td>{{ landCompensation.structuralCompensation | currency: '&#8377;' }}</td>
          <td>{{ landCompensation.horticultureCompensation | currency: '&#8377;' }}</td>
          <td>{{ landCompensation.forestCompensation | currency: '&#8377;' }}</td>
          <td>{{ landCompensation.paymentAmount | currency: '&#8377;' }}</td>
          <td>{{ landCompensation.compensationStatus }}</td>

          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/land-compensation', landCompensation.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/payment-advice', landCompensation.id, 'create-payment-advise']"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="add"></fa-icon>
                <span class="d-none d-md-inline">Create Advise </span>
              </button>
              <!-- (click)="createAdvise(landCompensation)" -->
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="landCompensations && landCompensations.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="10"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
