<div>
  <div class="w-100">
    <div class="img-holder">
      <h2 class="sideHeading">Get more things done with Loggin platform.</h2>
      <p class="subHead">Access to the most powerfull tool in the<br />entire design and web industry.</p>
      <img src="signUp.png" class="img-responsive" style="width: 335px" />
      <!--<div class="image_bg">
      
          <img src="../../content/images/signUp.png" alt="" style="width: 100%" class="img-responsive" /> 
     
        </div>   -->
    </div>
    <div class="form-holder">
      <div class="form-content">
        <div class="form-items">
          <div class="website-logo-inside">
            <a href="index.html">
              <div class="logo">
                <img class="logo-size" src="logo-jhipster.png" alt="" />
              </div>
            </a>
          </div>
          <h3>Welcome to Land Acquisition System</h3>
          <div class="page-links">
            <a class="active">Login</a><a routerLink="/account/register" jhiTranslate="global.messages.info.register.link">Register</a>
          </div>
          <form class="form" style="margin-top: 20px" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
            <input
              type="text"
              class="form-control"
              name="username"
              id="username"
              placeholder="{{ 'global.form.username.placeholder' | translate }}"
              formControlName="username"
              #username
              data-cy="username"
            />
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
              placeholder="{{ 'login.form.password.placeholder' | translate }}"
              formControlName="password"
              data-cy="password"
            />
            <div class="form-button">
              <button type="submit" class="btn btn-primary mt-3 mb-3 login" jhiTranslate="login.form.button" data-cy="submit">
                Sign in
              </button>
              <a
                class="alert-link"
                routerLink="/account/reset/request"
                jhiTranslate="login.password.forgot"
                data-cy="forgetYourPasswordSelector"
                >Forget Password?</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
