<div>
  <div class="w-100">
    <div class="img-holder">
      <img alt="" class="logo-size" src="../../content/images/logo.jpg" style="width: 70%" class="img-responsive" />
      <h2 class="sideHeading">Get more things done with the Smart platform.</h2>
      <p class="subHead">Access to the most powerfull tool in the<br />entire design and web industry.</p>
      <img class="img-responsive signUpImg" src="signUp.png" />
      <!--<div class="image_bg"
          <img src="../../content/images/signUp.png" alt="" style="width: 100%" class="img-responsive" />
        </div>   -->
    </div>
    <div class="form-holder">
      <div class="form-content">
        <div class="form-items">
          <div class="website-logo-inside">
            <a href="index.html">
              <div class="logo">
                <img alt="" class="logo/-size" src="../../content/images/logo_1.png" />
              </div>
            </a>
          </div>
          <h3 style="font-weight: 400">Smart Land Acquisition System</h3>
          <div class="page-links">
            <a class="active alert-link">Login</a
            ><a class="alert-link" jhiTranslate="global.messages.info.register.link" routerLink="/account/register">Register</a>
          </div>
          <form (ngSubmit)="login()" [formGroup]="loginForm" class="form" role="form" style="margin-top: 20px">
            <input
              #username
              class="form-control"
              data-cy="username"
              formControlName="username"
              id="username"
              name="username"
              placeholder="{{ 'global.form.username.placeholder' | translate }}"
              type="text"
            />
            <input
              class="form-control"
              data-cy="password"
              formControlName="password"
              id="password"
              name="password"
              placeholder="{{ 'login.form.password.placeholder' | translate }}"
              type="password"
            />
            <div class="form-button">
              <button class="btn btn-primary mt-3 mb-3 login" data-cy="submit" jhiTranslate="login.form.button" type="submit">
                Sign in
              </button>
              <a
                class="alert-link"
                data-cy="forgetYourPasswordSelector"
                jhiTranslate="login.password.forgot"
                routerLink="/account/reset/request"
                >Forget Password?</a
              >
            </div>
            <div class="social">
              <span style="margin-right: 10px">Or login with </span>
              <a href>Facebook</a>
              <a href>Google</a>
              <a href>Linkedin</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
