<div>
  <div class="w-100">
    <div class="img-holder">
      <img alt="" class="logo-size" src="../../content/images/logo.jpg" style="width: 90%" class="img-responsive" />
      <h3 class="sideHeading">Simplifying the Land acquisition process</h3>
      <!--      <p class="subHead">Simplifying the Land acquisition process.</p>-->
      <img class="img-responsive signUpImg" src="../../content/images/signUp.png" />
      <!--<div class="image_bg"
          <img src="../../content/images/signUp.png" alt="" style="width: 100%" class="img-responsive" />
        </div>   -->
    </div>
    <div class="form-holder">
      <div class="form-content">
        <div class="form-items">
          <div class="website-logo-inside">
            <a href="index.html">
              <div class="logo">
                <img alt="" class="logo/-size" src="../../content/images/logo_1.png" />
              </div>
            </a>
          </div>
          <h3 style="font-weight: 400">Smart Land Acquisition System</h3>
          <div class="page-links">
            <a class="active alert-link">Login</a
            ><a class="alert-link" jhiTranslate="global.messages.info.register.link" routerLink="/account/register">Register</a>
          </div>
          <form (ngSubmit)="login()" [formGroup]="loginForm" class="form" role="form" style="margin-top: 20px">
            <input
              #username
              class="form-control"
              data-cy="username"
              formControlName="username"
              id="username"
              name="username"
              placeholder="{{ 'global.form.username.placeholder' | translate }}"
              type="text"
            />
            <input
              class="form-control"
              data-cy="password"
              formControlName="password"
              id="password"
              name="password"
              placeholder="{{ 'login.form.password.placeholder' | translate }}"
              type="password"
            />
            <div class="form-button">
              <button class="btn btn-primary mt-3 mb-3 login" data-cy="submit" jhiTranslate="login.form.button" type="submit">
                Sign in
              </button>
              <a
                class="alert-link"
                data-cy="forgetYourPasswordSelector"
                jhiTranslate="login.password.forgot"
                routerLink="/account/reset/request"
                >Forget Password?</a
              >
              <br /><br />
            </div>
            <div class="social">
              <span style="margin-right: 10px">Or login with </span>
              <a href>Facebook</a>
              <a href>Google</a>
              <a href>Linkedin</a>
            </div>
          </form>

          <!-- <div class="mb-3 text-center">
              <small jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</small>
              <a class="alert-link" routerLink="/account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="deznav-scroll ps">
  <div class="ps__rail-x" style="left: 0px; bottom: 0px"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px"></div></div>
  <div class="ps__rail-y" style="top: 0px; right: 0px"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px"></div></div>
</div>
