<div>
  <h2 id="page-heading" data-cy="SurveyHeading">
    <span >Create Land Compensation</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterApp.survey.home.refreshListLabel">Refresh List</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="surveys?.length === 0">
    <span jhiTranslate="jhipsterApp.survey.home.notFound">No surveys found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="surveys && surveys.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id">
            <span jhiTranslate="global.field.id">ID</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="surveyor">
            <span jhiTranslate="jhipsterApp.survey.surveyor">Surveyor</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="projectLand.id">
            <span jhiTranslate="jhipsterApp.survey.projectLand">Project Land</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="hissaType">
            <span jhiTranslate="jhipsterApp.survey.hissaType">Hissa Type</span>
            <fa-icon icon="sort"></fa-icon>
          </th>

          <th scope="col" jhiSortBy="area">
            <span jhiTranslate="jhipsterApp.survey.area">Area</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="landMarketValue">
            <span jhiTranslate="jhipsterApp.survey.landMarketValue">Land Market Value</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="structuralValue">
            <span jhiTranslate="jhipsterApp.survey.structuralValue">Structural Value</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="horticultureValue">
            <span jhiTranslate="jhipsterApp.survey.horticultureValue">Horticulture Value</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="forestValue">
            <span jhiTranslate="jhipsterApp.survey.forestValue">Forest Value</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="status">
            <span jhiTranslate="jhipsterApp.survey.status">Status</span>
            <fa-icon icon="sort"></fa-icon>
          </th>

          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let survey of surveys; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/survey', survey.id, 'view']">{{ survey.id }}</a>
          </td>
          <td>{{ survey.surveyor }}</td>
          <td>
            <div *ngIf="survey.projectLand">
              <a [routerLink]="['/project-land', survey.projectLand?.id, 'view']">{{ survey.projectLand.land?.khasraNumber }}</a>
            </div>
          </td>
          <td>
            <span *ngIf="survey.hissaType == 'SINGLE_OWNER'" class="btn btn-primary btn-sm">{{ survey.hissaType }} </span>

            <span *ngIf="survey.hissaType == 'DIVIDED'" class="btn btn-info btn-sm">{{ survey.hissaType }} </span>

            <span *ngIf="survey.hissaType == 'JOINT_OWNER'" class="btn btn-success btn-sm">{{ survey.hissaType }} </span>
          </td>

          <td>{{ survey.area }}</td>
          <td>{{ survey.landMarketValue | currency: '&#8377;' }}</td>
          <td>{{ survey.structuralValue | currency: '&#8377;' }}</td>
          <td>{{ survey.horticultureValue | currency: '&#8377;' }}</td>
          <td>{{ survey.forestValue | currency: '&#8377;' }}</td>

          <td>
            <span *ngIf="survey.surveyStatus == 'OPEN'" class="btn btn-primary btn-sm">{{ survey.surveyStatus }} </span>

            <span *ngIf="survey.surveyStatus == 'CLOSED'" class="btn btn-success btn-sm">{{ survey.surveyStatus }} </span>
          </td>

          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/survey', survey.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/survey', survey.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

                         <button type="submit" (click)="createCompensation(survey)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                           <fa-icon icon="eye"></fa-icon>
                           <span class="d-none d-md-inline" jhiTranslate="jhipsterApp.landCompensation.home.createLabel">Create</span>
                       </button> 
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="surveys && surveys.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
