<h2 class="headingBanner">Welcome to Land Acquisition System</h2>

<div class="container-fluid">
  <div class="row">
    <!-- Responsive Cards (1st Row) -->
    <div class="col-lg-2 col-md-4 col-sm-6 mb-3">
      <div class="card-box bg-orange">
        <div class="inner">
          <h3>1</h3>
          <p>Villages</p>
        </div>
        <div class="icon">
          <i class="fa fa-file" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 mb-3">
      <div class="card-box bg-blue">
        <div class="inner">
          <h3>6</h3>
          <p>Lands</p>
        </div>
        <div class="icon">
          <i class="fa fa-file" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 mb-3">
      <div class="card-box bg-green">
        <div class="inner">
          <h3>4</h3>
          <p>Citizens</p>
        </div>
        <div class="icon">
          <i class="fa fa-file" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 mb-3">
      <div class="card-box bg-yellow">
        <div class="inner">
          <h3>1</h3>
          <p>Villages</p>
        </div>
        <div class="icon">
          <i class="fa fa-file" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 mb-3">
      <div class="card-box bg-orange">
        <div class="inner">
          <h3>1</h3>
          <p>Districts</p>
        </div>
        <div class="icon">
          <i class="fa fa-file" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 mb-3">
      <div class="card-box bg-blue">
        <div class="inner">
          <h3>1</h3>
          <p>Sub Districts</p>
        </div>
        <div class="icon">
          <i class="fa fa-file" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  <h1 class="headingBanner">Project Summary for  महाल कियोड़ी हदबस्त</h1>
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
      <div class="card-box bg-orange">
        <div class="inner">
          <h3>6</h3>
          <p>Total Compensations</p>
        </div>
        <div class="icon">
          <i class="fa fa-file" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
      <div class="card-box bg-blue">
        <div class="inner">
          <h3>6</h3>
          <p>Surveys</p>
        </div>
        <div class="icon">
          <i class="fa fa-file" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
      <div class="card-box bg-green">
        <div class="inner">
          <h3>4</h3>
          <p>Payment Advices</p>
        </div>
        <div class="icon">
          <i class="fa fa-file" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
      <div class="card-box bg-yellow">
        <div class="inner">
          <h3>0</h3>
          <p>Payment Files</p>
        </div>
        <div class="icon">
          <i class="fa fa-file" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
      <div class="card-box bg-blue">
        <div class="inner">
          <h3>₹ 20,00,000</h3>
          <p>{{ project?.totalBudget | currency: '&#8377;' }}</p>
          <p>Project Budget</p>
        </div>
        <div class="icon">
          <i class="fa fa-file" aria-hidden="true"></i>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
      <div class="card-box bg-yellow">
        <div class="inner">
          <h3>₹ 0</h3>
          <p>{{ project?.totalPaid | currency: '&#8377;' }}</p>
          <p>Total Amount Paid</p>
        </div>
        <div class="icon">
          <i class="fa fa-file" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
      <div class="card-box bg-green">
        <div class="inner">
          <h3>₹ 2,000,000</h3>
          <p>{{ project?.budgetRemaining | currency: '&#8377;' }}</p>
          <p>Budget Remaining</p>
        </div>
        <div class="icon">
          <i class="fa fa-check" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
      <div class="card-box bg-orange">
        <div class="inner">
          <h3>2</h3>
          <p>Interest %</p>
        </div>
        <div class="icon">
          <i class="fa fa-check" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</div>
