<img style="top: 0px" src="content/images/banner_image_large.jpg" width="100%" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="container">
  <h1>Case Summary</h1>
  <hr />
  <div class="row">
    <div class="col-lg-3 col-sm-6">
      <div class="card-box bg-blue">
        <div class="inner">
          <h3>245</h3>
          <p>Total Cases Uploaded</p>
        </div>
        <div class="icon">
          <i class="fa fa-file" aria-hidden="true"></i>
        </div>
        <a href="#" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card-box bg-red">
        <div class="inner">
          <h3>126</h3>
          <p>Total Open Cases</p>
        </div>
        <div class="icon">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </div>
        <a href="#" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card-box bg-green">
        <div class="inner">
          <h3>119</h3>
          <p>Total Cases Closed</p>
        </div>
        <div class="icon">
          <i class="fa fa-check"></i>
        </div>
        <a href="#" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
  </div>
  <h1>Case Details</h1>
  <hr />
  <div class="row">
    <div class="col-4" style="padding: 5px; background: ghostwhite">
      <h4>Survey Details</h4>
      <hr />
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <div class="card-box bg-red">
            <div class="inner">
              <h3>32</h3>
              <p>Survey Awaited</p>
            </div>
            <div class="icon">
              <i class="fa fa-pencil-square-o"></i>
            </div>
            <a href="#" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="card-box bg-green">
            <div class="inner">
              <h3>63</h3>
              <p>Survey Approved</p>
            </div>
            <div class="icon">
              <i class="fa fa-check" aria-hidden="true"></i>
            </div>
            <a href="#" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4" style="padding: 5px; background: antiquewhite">
      <h4>Compensation Details</h4>
      <hr />
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <div class="card-box bg-red">
            <div class="inner">
              <h3>16</h3>
              <p>Waiting Approval</p>
            </div>
            <div class="icon">
              <i class="fa fa-pencil-square-o"></i>
            </div>
            <a href="#" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="card-box bg-green">
            <div class="inner">
              <h3>38</h3>
              <p>Compensation Approved</p>
            </div>
            <div class="icon">
              <i class="fa fa-check" aria-hidden="true"></i>
            </div>
            <a href="#" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4" style="padding: 5px; background: ghostwhite">
      <h4>Payment Details</h4>
      <hr />
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <div class="card-box bg-red">
            <div class="inner">
              <h3>36</h3>
              <p>Waiting Payment Advise</p>
            </div>
            <div class="icon">
              <i class="fa fa-pencil-square-o"></i>
            </div>
            <a href="#" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="card-box bg-green">
            <div class="inner">
              <h3>119</h3>
              <p>Payment Done</p>
            </div>
            <div class="icon">
              <i class="fa fa-check" aria-hidden="true"></i>
            </div>
            <a href="#" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
