body {
  width: 90%;
  margin: 0 auto !important;
}
.container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.logo-img {
  height: 50px !important;
  width: 50px !important;
}
.navbar-brand {
  font-size: 1rem !important;
}
.navbar a.nav-link {
  font-size: 16px !important;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1) !important;
}
.static_content {
  position: absolute;
  left: 10%;
  top: 8%;
  width: 650px !important;
  height: auto !important;
}
.table {
  background-color: #fff !important;
  border-radius: 4px;
}
/*@media (min-width: 768px) {*/
/*  .navSub .dropdown-menu.show {*/
/*    margin: 0 -70em 0 -0.1em !important;*/
/*    min-width: 75em;*/
/*    padding: 0;*/
/*    transform: translate(40px, 46px) !important;*/
/*  }*/
/*  .navSub .dropdown-menu.show li {*/
/*    display: inline-block;*/
/*  }*/
/*  .navSub .dropdown-menu.show li .dropdown-item {*/
/*    padding: 0.8rem 1rem;*/
/*  }*/
/*  .navSub .nav-item.pointer.show.dropdown {*/
/*    background-color: #efefef;*/
/*    position: initial;*/
/*  }*/
/*  .navSub .nav-item.pointer.show.dropdown a {*/
/*    color: #1b1c1c !important;*/
/*  }*/
/*  .dropdown-item.active,*/
/*  .dropdown-item:active {*/
/*    background-color: #efefef !important;*/
/*  }*/
/*  .navSub .dropdown-item:hover,*/
/*  .dropdown-item:active {*/
/*    background-color: #efefef !important;*/
/*  }*/
/*}*/
