.logo-img {
  height: 50px !important;
  width: 50px !important;
}
.navbar-brand {
  font-size: 1rem !important;
}
.navbar a.nav-link {
  font-size: 14px !important;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1) !important;
}
.static_content {
  position: absolute;
  left: 10%;
  top: 8%;
  width: 650px !important;
  height: auto !important;
}
.table {
  background-color: #fff !important;
  border-radius: 4px;
}
@media (min-width: 768px) {
  .navSub .dropdown-menu.show {
    margin: 0 -70em 0 -0.1em !important;
    min-width: 12em;
    padding: 0;
  }
  .navSub .dropdown-menu.show li {
    display: inline-block;
  }
  .navSub .dropdown-menu.show li .dropdown-item {
    padding: 0.5rem 1rem;
  }
  .navSub .nav-item.pointer.show.dropdown {
    background-color: #efefef;
  }
  .navSub .nav-item.pointer.show.dropdown a {
    color: #1b1c1c !important;
  }
  .navSub .dropdown-item:hover,
  .dropdown-item:active {
    background-color: #efefef !important;
  }
}
