.logo-img {
  height: 50px !important;
  width: 50px !important;
}
.navbar-brand {
  font-size: 1rem !important;
}
.navbar a.nav-link {
  font-size: 14px !important;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1) !important;
}
.static_content {
  position: absolute;
  left: 10%;
  top: 8%;
  width: 650px !important;
  height: auto !important;
}
