.card-header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }
  .table {
    margin-bottom: 0;
  }
  .collapse.show + .card-body {
    border-top: 1px solid #ddd;
  }
  .summary-total {
    font-weight: bold;
    font-size: 1rem;
    color: #007bff;
  }
  .checkbox {
    margin-right: 10px;
  }
  /* Aligning buttons */
  .btn-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .btn-group .btn {
    width: 100%;
    max-width: 200px;
  }
  .btn{
    color: white;
  }
  /* Add some spacing for serial numbers */
  .serial-number {
    margin-right: 10px;
  }