<div>
  <h2 id="page-heading" data-cy="CreatePaymentFileHeading">
    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-create-payment-file"
        [routerLink]="['/create-payment-file/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Create Payment File </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="createPaymentFiles?.length === 0">
    <span>No createPaymentFiles found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="createPaymentFiles && createPaymentFiles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="accountHolderName">
            <!--            <span jhiTranslate="jhipsterApp.createPaymentFile.accountHolderName">Account Holder Name</span> <fa-icon icon="sort"></fa-icon>-->
          </th>
          <!--          <th scope="col" jhiSortBy="accountHolderBankName">-->
          <!--            <span jhiTranslate="jhipsterApp.createPaymentFile.accountHolderBankName">Account Holder Bank Name</span>-->
          <!--            <fa-icon icon="sort"></fa-icon>-->
          <!--          </th>-->
          <!--          <th scope="col" jhiSortBy="paymentAmount">-->
          <!--            <span jhiTranslate="jhipsterApp.createPaymentFile.paymentAmount">Payment Amount</span> <fa-icon icon="sort"></fa-icon>-->
          <!--          </th>-->
          <!--          <th scope="col" jhiSortBy="bankName">-->
          <!--            <span jhiTranslate="jhipsterApp.createPaymentFile.bankName">Bank Name</span> <fa-icon icon="sort"></fa-icon>-->
          <!--          </th>-->
          <!--          <th scope="col" jhiSortBy="accountNumber">-->
          <!--            <span jhiTranslate="jhipsterApp.createPaymentFile.accountNumber">Account Number</span> <fa-icon icon="sort"></fa-icon>-->
          <!--          </th>-->
          <!--          <th scope="col" jhiSortBy="ifscCode">-->
          <!--            <span jhiTranslate="jhipsterApp.createPaymentFile.ifscCode">Ifsc Code</span> <fa-icon icon="sort"></fa-icon>-->
          <!--          </th>-->
          <!--          <th scope="col" jhiSortBy="checkNumber">-->
          <!--            <span jhiTranslate="jhipsterApp.createPaymentFile.checkNumber">Check Number</span> <fa-icon icon="sort"></fa-icon>-->
          <!--          </th>-->
          <!--          <th scope="col" jhiSortBy="micrCode">-->
          <!--            <span jhiTranslate="jhipsterApp.createPaymentFile.micrCode">Micr Code</span> <fa-icon icon="sort"></fa-icon>-->
          <!--          </th>-->
          <!--          <th scope="col" jhiSortBy="paymentAdviceType">-->
          <!--            <span jhiTranslate="jhipsterApp.createPaymentFile.paymentAdviceType">Payment Advice Type</span> <fa-icon icon="sort"></fa-icon>-->
          <!--          </th>-->
          <!--          <th scope="col" jhiSortBy="referenceNumber">-->
          <!--            <span jhiTranslate="jhipsterApp.createPaymentFile.referenceNumber">Reference Number</span> <fa-icon icon="sort"></fa-icon>-->
          <!--          </th>-->
          <!--          <th scope="col" jhiSortBy="paymentStatus">-->
          <!--            <span jhiTranslate="jhipsterApp.createPaymentFile.paymentStatus">Payment Status</span> <fa-icon icon="sort"></fa-icon>-->
          <!--          </th>-->
          <!--          <th scope="col" jhiSortBy="hissaType">-->
          <!--            <span jhiTranslate="jhipsterApp.createPaymentFile.hissaType">Hissa Type</span> <fa-icon icon="sort"></fa-icon>-->
          <!--          </th>-->
          <!--          <th scope="col"></th>-->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let createPaymentFile of createPaymentFiles; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/create-payment-file', createPaymentFile.id, 'view']">{{ createPaymentFile.id }}</a>
          </td>
          <td>{{ createPaymentFile.accountHolderName }}</td>
          <td>{{ createPaymentFile.accountHolderBankName }}</td>
          <td>{{ createPaymentFile.paymentAmount }}</td>
          <td>{{ createPaymentFile.bankName }}</td>
          <td>{{ createPaymentFile.accountNumber }}</td>
          <td>{{ createPaymentFile.ifscCode }}</td>
          <td>{{ createPaymentFile.checkNumber }}</td>
          <td>{{ createPaymentFile.micrCode }}</td>
          <td>
            {{ createPaymentFile.paymentAdviceType }}
          </td>
          <td>{{ createPaymentFile.referenceNumber }}</td>
          <td>{{ createPaymentFile.paymentStatus }}</td>
          <td>{{ createPaymentFile.hissaType }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/create-payment-file', createPaymentFile.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/create-payment-file', createPaymentFile.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(createPaymentFile)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!--  <div *ngIf="createPaymentFiles && createPaymentFiles.length > 0">-->
  <!--    <div class="d-flex justify-content-center">-->
  <!--      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>-->
  <!--    </div>-->

  <!--    <div class="d-flex justify-content-center">-->
  <!--      <ngb-pagination-->
  <!--        [collectionSize]="totalItems"-->
  <!--        [(page)]="ngbPaginationPage"-->
  <!--        [pageSize]="itemsPerPage"-->
  <!--        [maxSize]="5"-->
  <!--        [rotate]="true"-->
  <!--        [boundaryLinks]="true"-->
  <!--        (pageChange)="loadPage($event)"-->
  <!--      ></ngb-pagination>-->
  <!--    </div>-->
  <!--  </div>-->
</div>
