<div>
  <h2 id="page-heading" data-cy="PaymentFileHeading">
    <span jhiTranslate="jhipsterApp.paymentFile.home.title">Payment Files</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterApp.paymentFile.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-payment-file"
        [routerLink]="['/payment-file/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterApp.paymentFile.home.createLabel"> Create a new Payment File </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="paymentFiles?.length === 0">
    <span jhiTranslate="jhipsterApp.paymentFile.home.notFound">No paymentFiles found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="paymentFiles && paymentFiles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="paymentFileId">
            <span jhiTranslate="jhipsterApp.paymentFile.paymentFileId">Payment File Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="totalPaymentAmount">
            <span jhiTranslate="jhipsterApp.paymentFile.totalPaymentAmount">Total Payment Amount</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="paymentFileDate">
            <span jhiTranslate="jhipsterApp.paymentFile.paymentFileDate">Payment File Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="paymentStatus">
            <span jhiTranslate="jhipsterApp.paymentFile.paymentStatus">Payment Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="bankName">
            <span jhiTranslate="jhipsterApp.paymentFile.bankName">Bank Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="ifscCode">
            <span jhiTranslate="jhipsterApp.paymentFile.ifscCode">Ifsc Code</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="paymentMode">
            <span jhiTranslate="jhipsterApp.paymentFile.paymentMode">Payment Mode</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="khatedar.id">
            <span jhiTranslate="jhipsterApp.paymentFile.khatedar">Khatedar</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="paymentAdvice.id">
            <span jhiTranslate="jhipsterApp.paymentFile.paymentAdvice">Payment Advice</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="projectLand.id">
            <span jhiTranslate="jhipsterApp.paymentFile.projectLand">Project Land</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="survey.id">
            <span jhiTranslate="jhipsterApp.paymentFile.survey">Survey</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="bank.name">
            <span jhiTranslate="jhipsterApp.paymentFile.bank">Bank</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="bankBranch.name">
            <span jhiTranslate="jhipsterApp.paymentFile.bankBranch">Bank Branch</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="landCompensation.id">
            <span jhiTranslate="jhipsterApp.paymentFile.landCompensation">Land Compensation</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paymentFile of paymentFiles; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/payment-file', paymentFile.id, 'view']">{{ paymentFile.id }}</a>
          </td>
          <td>{{ paymentFile.paymentFileId }}</td>
          <td>{{ paymentFile.totalPaymentAmount }}</td>
          <td>{{ paymentFile.paymentFileDate | formatMediumDate }}</td>
          <td jhiTranslate="{{ 'jhipsterApp.PaymentStatus.' + paymentFile.paymentStatus }}">{{ paymentFile.paymentStatus }}</td>
          <td>{{ paymentFile.bankName }}</td>
          <td>{{ paymentFile.ifscCode }}</td>
          <td jhiTranslate="{{ 'jhipsterApp.PaymentAdviceType.' + paymentFile.paymentMode }}">{{ paymentFile.paymentMode }}</td>
          <td>
            <div *ngIf="paymentFile.khatedar">
              <a [routerLink]="['/khatedar', paymentFile.khatedar?.id, 'view']">{{ paymentFile.khatedar?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="paymentFile.paymentAdvice">
              <a [routerLink]="['/payment-advice', paymentFile.paymentAdvice?.id, 'view']">{{ paymentFile.paymentAdvice?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="paymentFile.projectLand">
              <a [routerLink]="['/project-land', paymentFile.projectLand?.id, 'view']">{{ paymentFile.projectLand?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="paymentFile.survey">
              <a [routerLink]="['/survey', paymentFile.survey?.id, 'view']">{{ paymentFile.survey?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="paymentFile.bank">
              <a [routerLink]="['/bank', paymentFile.bank?.id, 'view']">{{ paymentFile.bank?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="paymentFile.bankBranch">
              <a [routerLink]="['/bank-branch', paymentFile.bankBranch?.id, 'view']">{{ paymentFile.bankBranch?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="paymentFile.landCompensation">
              <a [routerLink]="['/land-compensation', paymentFile.landCompensation?.id, 'view']">{{ paymentFile.landCompensation?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/payment-file', paymentFile.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/payment-file', paymentFile.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(paymentFile)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="paymentFiles && paymentFiles.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
