<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-payment-advice-details-heading"
        data-cy="PaymentAdviceDetailsCreateUpdateHeading"
        jhiTranslate="jhipsterApp.paymentAdviceDetails.home.createOrEditLabel"
      >
        Create or edit a Payment Advice Details
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.paymentAdviceDetails.landOwners" for="field_landOwners">Land Owners</label>
          <input
            type="text"
            class="form-control"
            name="landOwners"
            id="field_landOwners"
            data-cy="landOwners"
            formControlName="landOwners"
          />
          <div *ngIf="editForm.get('landOwners')!.invalid && (editForm.get('landOwners')!.dirty || editForm.get('landOwners')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('landOwners')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.paymentAdviceDetails.hissaType" for="field_hissaType">Hissa Type</label>
          <select class="form-control" name="hissaType" formControlName="hissaType" id="field_hissaType" data-cy="hissaType">
            <option [ngValue]="null">{{ 'jhipsterApp.HissaType.null' | translate }}</option>
            <option *ngFor="let hissaType of hissaTypeValues" [value]="hissaType">
              {{ 'jhipsterApp.HissaType.' + hissaType | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('hissaType')!.invalid && (editForm.get('hissaType')!.dirty || editForm.get('hissaType')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('hissaType')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.paymentAdviceDetails.paymentAdvice" for="field_paymentAdvice"
            >Payment Advice</label
          >
          <select
            class="form-control"
            id="field_paymentAdvice"
            data-cy="paymentAdvice"
            name="paymentAdvice"
            formControlName="paymentAdvice"
          >
            <option *ngIf="!editForm.get('paymentAdvice')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                paymentAdviceOption.id === editForm.get('paymentAdvice')!.value?.id
                  ? editForm.get('paymentAdvice')!.value
                  : paymentAdviceOption
              "
              *ngFor="let paymentAdviceOption of paymentAdvicesSharedCollection; trackBy: trackPaymentAdviceById"
            >
              {{ paymentAdviceOption.id }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['paymentAdvice'])!.invalid && (editForm.get(['paymentAdvice'])!.dirty || editForm.get(['paymentAdvice'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['paymentAdvice'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterApp.paymentAdviceDetails.projectLand" for="field_projectLand">Project Land</label>
          <select class="form-control" id="field_projectLand" data-cy="projectLand" name="projectLand" formControlName="projectLand">
            <option *ngIf="!editForm.get('projectLand')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                projectLandOption.id === editForm.get('projectLand')!.value?.id ? editForm.get('projectLand')!.value : projectLandOption
              "
              *ngFor="let projectLandOption of projectLandsSharedCollection; trackBy: trackProjectLandById"
            >
              {{ projectLandOption.id }}
            </option>
          </select>
        </div>
        <div
          *ngIf="editForm.get(['projectLand'])!.invalid && (editForm.get(['projectLand'])!.dirty || editForm.get(['projectLand'])!.touched)"
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['projectLand'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
